.slideInLeft {
  opacity: 0;
}
.slideInLeft.active {
  animation: slideInLeft 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
