@font-face {
  font-family: "Switzer Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./fontfamily/Switzer-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Switzer Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./fontfamily/Switzer-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Switzer SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("./fontfamily/Switzer-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Switzer Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./fontfamily/Switzer-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Switzer Black";
  font-style: normal;
  font-weight: 400;
  src: url("./fontfamily/Switzer-Black.otf") format("opentype");
}
