[data-image][data-image-loaded] img {
  visibility: hidden !important;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  width: auto;
  height: auto;
}
.image-hover {
  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: auto;
    transition: all 0.3s ease-in-out;
  }
}
