@import "./fonts.scss";
@import "./base/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import "./imageHover.scss";
body {
  font-family: "Switzer Regular", sans-serif;
  font-size: 16px;
  background-color: black;
  color: $color-light;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.section-container {
  padding: 40px 0;
}
.container-center {
  @apply container mx-auto;
}

//font-size
.fs-xs {
  font-size: 12px;
}
.fs-sm {
  font-size: 16px;
}
.fs-md {
  font-size: 30px;
}
.fs-lg {
  font-size: 46px;
}
.fs-1lg {
  font-size: 60px;
}
.fs-2lg {
  font-size: 84px;
}
.fs-xl {
  font-size: 90px;
}

.category-title {
  font-weight: 300;
  font-size: $fs-sm;
  color: $color-light;
  display: flex;
  gap: 10px;
  letter-spacing: 8px;
  white-space: nowrap;
  align-items: center;
}

@media (min-width: 768px) {
  .fs-xs {
    font-size: 14px;
  }
  .fs-sm {
    font-size: 18px;
  }
  .fs-md {
    font-size: 34px;
  }
  .fs-lg {
    font-size: 52px;
  }
  .fs-1lg {
    font-size: 72px;
  }
  .fs-2lg {
    font-size: 99px;
  }
  .fs-xl {
    font-size: 112px;
  }
}
@media (min-width: 1024px) {
  .fs-xs {
    font-size: $fs-xs;
  }
  .fs-sm {
    font-size: $fs-sm;
  }
  .fs-md {
    font-size: $fs-md;
  }
  .fs-lg {
    font-size: $fs-lg;
  }
  .fs-1lg {
    font-size: $fs-1lg;
  }
  .fs-2lg {
    font-size: $fs-2lg;
  }
  .fs-xl {
    font-size: $fs-xl;
  }
}
@media (min-width: 1280px) {
  .container-center {
    max-width: 1120px;
  }
}
@media (min-width: 1536px) {
  .container-center {
    max-width: 1120px;
  }
}
