<template lang="">
  <div class="viewSection-container container-center">
    <TypingTextAnima
      class="text-left fs-md font-bold mb-3"
      input-text="It's More Than Just Drawing Lines."
    />
    <TypingTextAnima
      class="text-right fs-md"
      input-text="It's about empathizing with users"
    />
    <div class="content-1">
      <BlinkingText
        class="fs-sm text-right content-text"
        is="p"
        text="solving"
      />
      <BlinkingText
        class="fs-sm text-right content-text"
        is="p"
        text="real-world"
      />
      <BlinkingText
        class="fs-sm text-right content-text"
        is="p"
        text="problems"
      />
    </div>
    <BlinkingText
      class="fs-sm text-right content-text mb-2"
      is="p"
      text="Envisioning elegant simplicity"
    />
    <div class="content-2">
      <BlinkingText
        class="fs-sm text-right content-text mb-2 content-2-1"
        is="p"
        text="our UX/UI design ethos embraces a harmonious blend of refined aesthetics and effortless usability. "
      />
      <BlinkingText
        class="fs-sm text-right content-text mb-2"
        is="p"
        text="We aspire to create digital experiences that not only "
      />
    </div>
    <div class="content-3">
      <BlinkingText
        class="fs-sm text-left content-text mb-2"
        is="p"
        text="delight users"
      />
    </div>
    <div class="content-4 mb-2">
      <img src="@/assets/images/b.png" alt="view" />
      <BlinkingText
        class="fs-sm text-left content-text"
        is="p"
        text="ut also"
      />
    </div>
    <div class="content-5">
      <BlinkingText
        class="fs-sm text-right content-text"
        is="p"
        text="elevate brands, enriching the way people interact with technology."
      />
    </div>
  </div>
</template>
<script setup>
import TypingTextAnima from "@/components/common/TypingTextAnima.vue";
import BlinkingText from "@/components/common/BlinkingText.vue";
</script>
<style lang="scss" scoped>
.content-5 {
  max-width: 310px;
  margin: 0 auto;
  p {
    max-width: 150px;
  }
}
.content-4 {
  display: flex;
  max-width: 362px;
  margin: 0 auto;

  img {
    max-width: 33px;
    height: 54px;
  }
  p {
    transform: translate(-22px, -10px);
  }
}
.content-3 {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.content-2-1 {
  max-width: 362px;
  margin-left: auto;
}
.content-text {
  line-height: 28px;
}
.viewSection-container {
  padding: 300px 0 200px;
}
.content-1 {
  margin-left: auto;
  margin-bottom: 30px;
  transform: translateY(-15px);
}
.content-2 {
  max-width: 475px;
  margin: 0 auto;
}
</style>
