<template>
  <div class="scroll-horizontal mb-[300px]">
    <div class="camera">
      <div
        class="frame"
        :style="{
          transform: `translateX(${cameraTranslateX}px)`,
        }"
      >
        <div class="item">
          <ImageHoverComponent>
            <img src="@/assets/images/view-image1.png" alt="swap wallet" />
          </ImageHoverComponent>
        </div>
        <div class="item">
          <ImageHoverComponent>
            <img src="@/assets/images/view-image2.png" alt="space falcon" />
          </ImageHoverComponent>
        </div>
        <div class="item">
          <ImageHoverComponent>
            <img src="@/assets/images/view-image3.png" alt="bootsagram" />
          </ImageHoverComponent>
        </div>
        <div class="item">
          <ImageHoverComponent>
            <img src="@/assets/images/view-image4.png" alt="forbes vietnam" />
          </ImageHoverComponent>
        </div>
        <div class="item">
          <ImageHoverComponent>
            <img src="@/assets/images/view-image5.png" alt="POOLS" />
          </ImageHoverComponent>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { onMounted, onUnmounted, ref } from "vue";
import ImageHoverComponent from "@/components/common/ImageHoverComponent.vue";

const cameraTranslateX = ref(0);
const maxCameraTranslateX = ref(0);
const lastScrollTop = ref(window.scrollY);

const handleScroll = () => {
  const scrollHorizontal = document.querySelector(".scroll-horizontal");
  const camera = document.querySelector(".camera");
  const scrollHorizontalRect = scrollHorizontal.getBoundingClientRect();
  const cameraRect = camera.getBoundingClientRect();
  const currentScrollTop = window.scrollY;
  const scrollDirection =
    currentScrollTop > lastScrollTop.value ? "down" : "up";

  const isInview =
    scrollHorizontalRect.top <= 0 &&
    scrollHorizontalRect.bottom >= cameraRect.height;
  if (!isInview) {
    if (scrollDirection === "down") {
      cameraTranslateX.value =
        cameraRect.height >= scrollHorizontalRect.bottom
          ? -maxCameraTranslateX.value
          : 0;
    }
    lastScrollTop.value = currentScrollTop;
    return;
  }
  const scrollDiff = Math.abs(currentScrollTop - lastScrollTop.value);

  if (
    scrollDirection === "down" &&
    Math.abs(cameraTranslateX.value) <= maxCameraTranslateX.value
  ) {
    cameraTranslateX.value -= scrollDiff;
  }

  if (scrollDirection === "up" && cameraTranslateX.value <= 0) {
    cameraTranslateX.value += scrollDiff;
  }
  lastScrollTop.value = currentScrollTop;
  return;
};

onMounted(() => {
  maxCameraTranslateX.value =
    document.querySelector(".frame").offsetWidth -
    document.querySelector(".frame").offsetWidth / 5;

  window.addEventListener("scroll", handleScroll);
});
onUnmounted(() => {
  window.removeEventListener("scroll", handleScroll);
});
</script>
<style lang="scss" scoped>
.scroll-horizontal {
  height: 500vw;
  overflow: visible;
  display: flex;
  position: relative;
  .camera {
    height: 100vh;
    object-fit: fill;
    overflow: hidden;
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    .frame {
      height: 100%;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      // padding: 0 0 0 200px;
      flex-wrap: nowrap;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 550vw;
      flex-direction: row;
      overflow: hidden;
      transition: transform 0.1s ease-out;
      // gap: 40px;

      .item {
        height: 90vh;
        flex: none;
        justify-content: center;
        flex-direction: column;
        align-self: auto;
        align-items: center;
        margin: auto 0;
        padding: 0;
        display: flex;
        overflow: visible;
        width: 100vw;
      }
      img {
        width: 100%;
        object-fit: cover;
        padding: 0;
      }
    }
  }
}
</style>
