<template>
  <div ref="viewSectionRef" class="view-container section-container">
    <div ref="innerEleRef" class="view-content">
      <img src="@/assets/images/VIEW.png" alt="view" />
    </div>
  </div>
</template>
<script setup>
import { ref, onMounted } from "vue";

const viewSectionRef = ref(null);
const imageWidth = ref(2000);
const innerElePosition = ref("absolute");
const topOrBotClass = ref("top-0");
const lastScrollTop = ref(window.scrollY);
const innerEleRef = ref(null);

// const handleScroll = () => {
//   const rect = viewSectionRef.value.getBoundingClientRect();
//   const innerRect = innerEleRef.value.getBoundingClientRect();
//   const currentScrollTop = window.scrollY;
//   const isInview = rect.top <= 0 && rect.bottom >= innerRect.height;
//   const scrollDirection =
//     currentScrollTop > lastScrollTop.value ? "down" : "up";

//   if (isInview) {
//     const scrollDiff = (currentScrollTop - lastScrollTop.value) * 100;
//     innerElePosition.value = "fixed";
//     topOrBotClass.value = "top-0";
//     if (scrollDirection === "down") {
//       imageWidth.value -= scrollDiff;
//       console.log("🚀 ~ handleScroll ~ imageWidth.value:", imageWidth.value);
//     } else {
//       imageWidth.value += scrollDiff;
//     }
//   } else {
//     innerElePosition.value = "absolute";
//     topOrBotClass.value = "bottom-0";
//   }
//   lastScrollTop.value = currentScrollTop;
// };

onMounted(() => {
  // window.addEventListener("scroll", handleScroll);
});
</script>
<style lang="scss" scoped>
@import "@/assets/scss/base/_variables.scss";

.view-container {
  width: 100vw;
  display: flex;

  .view-content {
    width: 100vw;
    justify-content: center;
    align-self: auto;
    align-items: center;
    display: flex;
    position: sticky;
    left: 0;
    top: 0;
    padding: 0 40px;
    // overflow: hidden;

    img {
      overflow: hidden;
      max-width: unset;
      scale: 3;
      opacity: 0;
      animation: scroll-watcher linear forwards;
      animation-timeline: view();
      animation-range: entry;
      @keyframes scroll-watcher {
        to {
          opacity: 1;
          scale: 1;
        }
      }
      max-width: unset;
    }
  }
}
</style>
