$fs-xs: 16px;
$fs-sm: 20px;
$fs-md: 40px;
$fs-lg: 60px;
$fs-1lg: 80px;
$fs-2lg: 100px;
$fs-xl: 120px;
///////////////

$color-dark: #131313;
$color-gray: #b5b5b5;
$color-light: #f9f9f9;
$color-dark1: #373737;
