<template>
  <div class="experiences mb-[260px]">
    <UIUXDesignScroll />
    <div class="container-center" id="experiences">
      <div class="mb-40">
        <TypingTextAnima
          class="category-title"
          is="p"
          input-text="(3)experiences"
        />

        <TypingTextAnima
          class="experiences__title fs-1lg"
          is="h3"
          input-text="At the heart of 'My Story "
        />
        <div>
          <BlinkingText
            class="experiences__subtitle1 fs-sm mb-4"
            is="h3"
            text="Unfolded' lies a collection of moments that define me. "
          />
          <BlinkingText
            class="experiences__subtitle2 fs-sm"
            is="h3"
            text="From cherished memories to transformative experiences, this narrative encapsulates the essence of "
          />
          <BlinkingText
            class="experiences__subtitle3 fs-md"
            is="h3"
            text="Who I am"
          />
        </div>
      </div>
      <div class="flex flex-col gap-40">
        <div class="experiences__item">
          <div class="experiences__item__top">
            <TypingTextAnima
              class="experiences__item__top__time fs-md"
              is="h3"
              input-text="2019 - 2022"
            />
            <TypingTextAnima
              class="experiences__item__top__index fs-md"
              is="h3"
              input-text="01"
            />
          </div>
          <TypingTextAnima
            class="text-right fs-sm"
            input-text="Software Engineer"
          />
        </div>
        <div class="experiences__item">
          <div class="experiences__item__top">
            <TypingTextAnima
              class="experiences__item__top__index fs-md"
              is="h3"
              input-text="02"
            />
            <TypingTextAnima
              class="experiences__item__top__time fs-md"
              is="h3"
              input-text="2022 - 2023"
            />
          </div>
          <TypingTextAnima
            class="text-left fs-sm"
            input-text="UIUX Design - Playgroundx"
          />
        </div>
        <div class="experiences__item">
          <div class="experiences__item__top">
            <TypingTextAnima
              class="experiences__item__top__index fs-md"
              is="h3"
              input-text="03"
            />
            <TypingTextAnima
              class="experiences__item__top__time fs-md"
              is="h3"
              input-text="2023 - 2024"
            />
          </div>
          <TypingTextAnima
            class="text-left fs-sm"
            input-text="UIUX Design - B Agency"
          />
          <TypingTextAnima
            class="text-center fs-sm"
            input-text="UIUX Design - Space Falcon"
          />
        </div>
        <div class="experiences__item">
          <div class="experiences__item__top">
            <TypingTextAnima
              class="experiences__item__top__time fs-md"
              is="h3"
              input-text="2023 - Present"
            />
            <TypingTextAnima
              class="experiences__item__top__index fs-md"
              is="h3"
              input-text="04"
            />
          </div>
          <TypingTextAnima
            class="text-left text-sm"
            input-text="UIUX Design - MP Logistics"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import UIUXDesignScroll from "@/components/experiences/UIUXDesignScroll.vue";
import TypingTextAnima from "@/components/common/TypingTextAnima.vue";
import BlinkingText from "@/components/common/BlinkingText.vue";
</script>
<style lang="scss" scoped>
@import "@/assets/scss/base/_variables.scss";
.experiences {
  width: 100vw;
}
.section-container {
  padding: 80px 0 0;
}

.experiences__title {
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}
.experiences__subtitle1,
.experiences__subtitle2 {
  max-width: 265px;
  text-align: end;
  line-height: 28px;
  margin-left: auto;
}
.experiences__subtitle2 {
  margin-right: 110px;
}
.experiences__subtitle3 {
  max-width: 330px;
  margin-left: auto;
  line-height: 1;
  transform: translateY(-10px);
}
.experiences__item {
  &:nth-child(1) {
    width: 100%;
    margin-right: auto;
    @apply md:w-[70%];
  }
  &:nth-child(2) {
    width: 100%;
    margin-left: auto;
    @apply md:w-[70%];
  }
  &:nth-child(3) {
    width: 100%;
    margin-left: auto;
    @apply md:w-[50%];
  }
  &:nth-child(4) {
    width: 100%;
    margin-right: auto;
    @apply md:w-[70%];
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-light;
    &__time {
      white-space: nowrap;
    }
  }
}
</style>
