<template>
  <div
    ref="UXUIDESRef"
    class="UXUIDES-container md:block hidden"
    :style="{
      height: `${UXUIDESHeight}px`,
    }"
  >
    <div class="UIXUIDES-inner" ref="UIXUIDESInnerRef">
      <div class="UXUIDES-wrapper">
        <div class="UIUXDES__content">
          <img src="@/assets/images/UIUXDESGIN.png" alt="" />
          <div
            ref="UXUXDESCRicleRef"
            class="UXUIDES__circel"
            :style="{
              transform: `translateX(${circlePosition}px) rotate(${circleRotation}deg)`,
            }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { onMounted, ref, onUnmounted } from "vue";
const UXUXDESCRicleRef = ref(null);
const UXUIDESRef = ref(null);
const maxPosition = ref(0);
const circlePosition = ref(0);
const innerTop = ref("0px");
const circleRotation = ref(0);
const lastScrollTop = ref(window.scrollY);
const UIXUIDESInnerRef = ref(null);
const UXUIDESHeight = ref(0);

const handleScroll = () => {
  const rect = UXUIDESRef.value.getBoundingClientRect();
  const innerRect = UIXUIDESInnerRef.value.getBoundingClientRect();

  const isInview = rect.top <= 0 && rect.bottom >= innerRect.height;

  const currentScrollTop = window.scrollY;
  const scrollDirection =
    currentScrollTop > lastScrollTop.value ? "down" : "up";
  if (!isInview) {
    if (scrollDirection === "down") {
      if (innerRect.height >= rect.bottom) {
        circlePosition.value = maxPosition.value;
        return;
      }
      circlePosition.value = 20;
    } else {
      if (innerRect.height >= rect.top) {
        circlePosition.value = 20;
        return;
      }
      circlePosition.value = maxPosition.value;
    }
    lastScrollTop.value = currentScrollTop;

    return;
  }
  const scrollDiff = Math.abs((currentScrollTop - lastScrollTop.value) / 2);

  if (scrollDirection === "down" && circlePosition.value <= maxPosition.value) {
    circlePosition.value += scrollDiff;
    circleRotation.value += scrollDiff;
  }
  if (scrollDirection === "up" && circlePosition.value >= 0) {
    circlePosition.value -= scrollDiff;
    circleRotation.value -= scrollDiff;
  }
  lastScrollTop.value = currentScrollTop;
};
const handleResize = () => {
  const elementWidth = UXUIDESRef.value.offsetWidth;
  const circleWidth = UXUXDESCRicleRef.value.offsetWidth;
  maxPosition.value = elementWidth - circleWidth;
  UXUIDESHeight.value = elementWidth * 2;
};
onMounted(() => {
  window.addEventListener("scroll", handleScroll);
  const elementWidth = UXUIDESRef.value.offsetWidth;
  const circleWidth = UXUXDESCRicleRef.value.offsetWidth;
  maxPosition.value = elementWidth - circleWidth - 40;
  UXUIDESHeight.value = elementWidth * 2;
  window.addEventListener("resize", handleResize);
});
onUnmounted(() => {
  window.removeEventListener("resize", handleResize);
  window.removeEventListener("scroll", handleScroll);
});
</script>
<style lang="scss" scoped>
@import "@/assets/scss/base/_variables.scss";

.UXUIDES-container {
  width: 100vw;
  position: relative;
}
.UIXUIDES-inner {
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}
.UXUIDES-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  justify-content: center;
  align-items: center;
  .UIUXDES__content {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
    padding: 0 20px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .UXUIDES__circel {
    left: 0;
    // width: 312px;
    // height: 312px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    mix-blend-mode: difference;
    background-color: $color-light;
    @apply lg:w-[312px] w-[250px] lg:h-[321px] h-[250px] lg:top-[24%] top-[26%];
  }
}
</style>
