<template>
  <div class="container-center py-[300px] about" id="about">
    <div class="about__star-decor">
      <img src="@/assets/images/star2.png" alt="star" />
      <img src="@/assets/images/star2.png" alt="star" />
    </div>
    <div class="flex justify-between">
      <TypingTextAnima class="category-title" is="p" input-text="(1)about" />
      <div class="about__right">
        <BlinkingText
          class="about__right__text fs-sm"
          is="p"
          text="Devoted to forging fair and"
        />
        <BlinkingText
          class="about__right__text fs-sm text-nowrap"
          is="p"
          text="compelling digital interactions."
        />
      </div>
    </div>
    <div class="about__content">
      <div class="about__content__top">
        <BlinkingText
          class="about__content__top__item fs-sm test"
          is="p"
          text="Enriched skills through courses from"
        />
        <BlinkingText
          class="about__content__top__item fs-sm"
          is="p"
          text="UX Foundation"
        />
        <BlinkingText
          class="about__content__top__item fs-sm"
          is="p"
          text="Coursera Google UX Design."
        />
        <BlinkingText
          class="about__content__top__item fs-sm"
          is="p"
          text="Interaction Foundation"
        />
      </div>
      <div class="about__content__middle">
        <img src="@/assets/images/p.png" class="img-p" alt="" />
        <BlinkingText
          class="about__content__middle__text"
          is="sapn"
          text="assi"
        />
        <img src="@/assets/images/o.png" class="img-o" alt="" />
        <BlinkingText class="about__content__middle__text" is="n" text="n" />
      </div>
      <div class="about__content__bottom">
        <BlinkingText
          class="about__content__bottom__item fs-sm"
          is="p"
          text="Crafting measurable impact."
        />
        <BlinkingText
          class="about__content__bottom__item fs-sm"
          is="p"
          text="Data-driven UX/UI success."
        />
        <BlinkingText
          class="about__content__bottom__item fs-sm"
          is="p"
          text="Metrics-driven design optimization."
        />
      </div>
    </div>
  </div>
</template>
<script setup>
import BlinkingText from "@/components/common/BlinkingText.vue";
import TypingTextAnima from "@/components/common/TypingTextAnima.vue";
</script>
<style lang="scss" scope>
@import "@/assets/scss/base/_variables.scss";
.about {
  position: relative;
  overflow: hidden;
}
.about__star-decor {
  position: absolute;
  top: 70%;
  right: -5%;
  z-index: 1;
  display: flex;
  img:nth-child(1) {
    max-width: 57.73px;
    max-height: 61.53px;
    object-fit: cover;
    animation: fadeInOutStar 4s infinite 1s;
    margin-right: 30px;
  }
  img:nth-child(2) {
    max-width: 36.48px;
    max-height: 39.12px;
    object-fit: cover;
    animation: fadeInOutStar 4s infinite;
  }
}
@keyframes fadeInOutStar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.about__right__text {
  line-height: 28px;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
}
.about__content {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .about__content__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__item {
      font-weight: 700;
      text-align: right;
      &:nth-child(1) {
        font-weight: 400;
      }
      &:last-child {
        padding-right: 80px;
      }
    }
  }
  .about__content__middle {
    display: flex;
    justify-content: center;
    gap: 5px;
    .img-p {
      width: 42.39px;
      height: 169.79px;
      object-fit: cover;
    }
    .img-o {
      width: 47.2px;
      height: 123.45px;
      object-fit: cover;
      transform: translateY(39px);
    }
    &__text {
      font-weight: 700;
      text-align: center;
      font-size: 79px;
    }
  }
  .about__content__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__item {
      font-weight: 700;
      text-align: left;
      font-weight: 400;

      &:nth-child(1) {
        padding-left: 70px;
      }
      &:nth-child(3) {
        padding-left: 90px;
      }
    }
  }
}
</style>
