<template>
  <div
    class="container-center gap-[200px] flex flex-col section-container overflow-hidden"
    id="certificate"
  >
    <div class="certidicate">
      <p class="category-title mb-10">(2) certificate</p>
      <div class="certidicate_UX-foundation">
        <div class="certidicate_UX-foundation_top">
          <img src="@/assets/images/ux-foundation.png" alt="UX-foundation" />
        </div>
        <div class="certidicate_UX-doundation_body">
          <div class="certidicate_UX-foundation_body_img">
            <img class="arm-decor" src="@/assets/images/arm-decor.png" alt="" />

            <ImageHoverComponent
              class="certidicate_UX-foundation_body_img__hover"
            >
              <img
                src="@/assets/images/certidicate-ux-foundation.png"
                alt="UX-foundation"
              />
            </ImageHoverComponent>
          </div>

          <div class="certidicate_UX-foundation_body_text relative">
            <div class="certidicate_UX-foundation_body_text__img">
              <img src="@/assets/images/image12.png" alt="UX foundation" />
            </div>

            <div class="w-4/5 mr-auto">
              <BlinkingText
                class="certidicate_UX-foundation_body_text_title fs-lg"
                is="span"
                text="Psychology"
              />
              {{ "\u00A0" }}
              <BlinkingText
                class="certidicate_UX-foundation_body_text_title fs-lg"
                is="span"
                text="in UX Design"
              />
            </div>
            <BlinkingText
              class="certidicate_UX-foundation_body_text_sub fs-sm"
              is="p"
              text="Discover the power of psychology that changes user behavior"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="keyframe">
      <div class="keyframe_container">
        <div class="keyframe_left">
          <div class="keyframe_left_content">
            <BlinkingText
              class="keyframe_left_content_title fs-lg text-nowrap"
              is="span"
              text="KEYFRAME -"
            />
            <BlinkingText
              class="keyframe_left_content_title fs-lg"
              is="p"
              text="22K10A"
            />
            <p class="keyframe_left_content_sub fs-sm">
              <BlinkingText is="p" text="UXUI Product" class="pl-3" />
              <BlinkingText is="p" text="Design Course" />
            </p>
          </div>
        </div>
        <div class="keyframe_right">
          <ImageHoverComponent class="keyframe_right__imge-hover">
            <img src="@/assets/images/keyframe-22k10a.png" alt="keyframe" />
          </ImageHoverComponent>
        </div>
      </div>
    </div>
    <div class="lollypop">
      <div class="lollypop_container">
        <div class="lollypop_left">
          <ImageHoverComponent>
            <img src="@/assets/images/lollypop-des.png" alt="lollypop" />
          </ImageHoverComponent>
        </div>
        <div class="lollypop_right relative">
          <div class="lollypop_right_img">
            <img src="@/assets/images/image10.png" alt="lollypop" />
          </div>

          <div class="lollypop_right_content">
            <p class="lollypop_right_content_title">
              <img src="@/assets/images/logo-lollypop.png" alt="lollypop" />
            </p>
            <BlinkingText
              class="lollypop_right_content_sub fs-sm"
              is="p"
              text="Designathon 2023, 12-hour design competition exclusively for
              Vietnamese Designers."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import BlinkingText from "@/components/common/BlinkingText.vue";
import ImageHoverComponent from "@/components/common/ImageHoverComponent.vue";
</script>
<style lang="scss" scoped>
@import "@/assets/scss/base/_variables.scss";

//UX-foundation
.certidicate_UX-foundation {
  .certidicate_UX-foundation_top {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 229.13px;
      max-height: 74.94px;
      object-fit: cover;
    }
  }
  .certidicate_UX-doundation_body {
    @apply grid grid-cols-12 gap-6;

    .certidicate_UX-foundation_body_img {
      @apply col-span-12 lg:col-span-6;
      position: relative;
      padding-right: 5px;
      .arm-decor {
        position: absolute;
        top: -25%;
        left: -54%;
        z-index: -1;
        max-width: 100%;
        object-fit: cover;
      }
      .certidicate_UX-foundation_body_img__hover {
        width: 100%;
        // min-height: 400px;
      }
    }
    &:hover {
      .certidicate_UX-foundation_body_text__img {
        animation: fadeInLeft 1s forwards;
      }
    }
    .certidicate_UX-foundation_body_text {
      @apply col-span-12 lg:col-span-6;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 4%;
      .certidicate_UX-foundation_body_text__img {
        position: absolute;
        width: 450px;
        left: 22%;
        opacity: 0;
        height: 285px;
        object-fit: cover;
        top: -35%;
        z-index: -1;
        transition: all 0.5s ease-in-out;
      }
      .certidicate_UX-foundation_body_text_title {
        font-weight: 400;
        line-height: 60px;
        padding: 10px 0;
        &:nth-child(1) {
          font-weight: 700;
        }
      }
      .certidicate_UX-foundation_body_text_sub {
        width: 70%;
        margin-left: auto;
        font-size: $fs-sm;
        font-weight: 400;
        text-align: right;
      }
    }
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// keyframe
.keyframe_container {
  @apply grid grid-cols-12 gap-6;
  .keyframe_left {
    @apply col-span-12 lg:col-span-6;
    padding: 0 4%;
    display: flex;
    justify-content: right;
    align-items: center;
    .keyframe_left_content {
      height: fit-content;
      .keyframe_left_content_title {
        font-weight: 400;
        line-height: $fs-lg;
        text-align: right;
        width: 80%;
        margin-left: auto;
        margin-bottom: 10px;
        span {
          font-weight: 700;
        }
      }
      .keyframe_left_content_sub {
        text-align: left;
        margin-left: auto;
        font-weight: 400;
      }
    }
  }
  .keyframe_right {
    @apply col-span-12 lg:col-span-6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    .keyframe_right__imge-hover {
      width: 100%;
      // height: 462px;
    }
  }
}
//lollypop
.lollypop_container {
  @apply grid grid-cols-12;
  .lollypop_left {
    @apply col-span-12 lg:col-span-6;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  .lollypop_right {
    @apply col-span-12 lg:col-span-6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
    z-index: 3;
    &:hover {
      .lollypop_right_img {
        opacity: 0.9;
      }
    }
    .lollypop_right_img:hover {
      transform: rotate(-15.2deg);
      opacity: 1;
      z-index: 4;
    }
    .lollypop_right_img {
      position: absolute;
      width: 350px;
      opacity: 0;
      transform: rotate(-25deg);
      top: -25%;
      right: 10%;
      z-index: 0;
      transition: all 0.5s ease-in-out;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .lollypop_right_content {
      .lollypop_right_content_title {
        margin-bottom: 10px;
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
      .lollypop_right_content_sub {
        font-size: $fs-sm;
        font-weight: 400;
        text-align: left;
        margin-left: auto;
        width: 70%;
      }
    }
  }
}
</style>
