<template>
  <div>
    <div class="container-center pt-[260px]">
      <p class="intro-text fs-lg">
        <BlinkingText is="span" text="Dedicate your efforts to " />

        <BlinkingText
          class="color-dark1"
          is="span"
          text="crafting deluxe digital encounters that embody the essence of your brand."
        />
      </p>
      <!-- <div
        class="dropdow-btn"
        :class="{ active: isScrolledToEnd }"
        @click="onClickButtonScroll"
      >
        <div class="dropdown-btn__inner">
          <img src="@/assets/images/Vector196.png" alt="down" />
        </div>
      </div> -->
    </div>
    <!-- <div
      class="conatiner-center home-body"
      :class="{ active: isScrolledToEnd }"
    > -->
    <AboutMe />
    <Certificate />
    <Experiences />
    <!-- <ViewSection /> -->
    <ViewContentSection />
    <ViewSlider />
    <ProjectSection />
    <FooterSection />
  </div>
  <!-- </div> -->
</template>
<script setup>
import AboutMe from "@/components/about/AboutMe.vue";
import Certificate from "@/components/certificate/Certificate.vue";
import Experiences from "@/components/experiences/Experiences.vue";
import { ref, onMounted, onUnmounted } from "vue";
import BlinkingText from "@/components/common/BlinkingText.vue";
import ViewSection from "@/components/viewSection/ViewSection.vue";
import ViewContentSection from "@/components/viewSection/ViewContentSection.vue";
import ViewSlider from "@/components/viewSection/ViewSlider.vue";
import ProjectSection from "@/components/project/ProjectSection.vue";
import FooterSection from "@/components/footer/FooterSection.vue";

const isScrolledToEnd = ref(true);
const handleScroll = () => {
  // const scrollY = window.scrollY;
  // const scrollHeight = document.documentElement.scrollHeight;
  // const clientHeight = document.documentElement.clientHeight;
  // if (scrollY + clientHeight >= scrollHeight) {
  //   isScrolledToEnd.value = true;
  // }
};
const onClickButtonScroll = () => {
  window.scrollTo({
    top: document.documentElement.scrollHeight,
    behavior: "smooth",
  });
  isScrolledToEnd.value = !isScrolledToEnd.value;
};

onMounted(() => {
  // window.addEventListener("scroll", handleScroll);
});
onUnmounted(() => {
  // window.removeEventListener("scroll", handleScroll);
});
</script>
<style lang="scss" scoped>
@import "@/assets/scss/base/_variables.scss";

.color-dark1 {
  color: $color-dark1 !important;
}

.home-body {
  display: none;
  &.active {
    display: block;
  }
}

.intro-text {
  line-height: $fs-lg;
  font-weight: 400;
  color: $color-gray;
  margin-bottom: 40px;

  .intro-text__span {
    font-weight: 700;
    color: $color-dark;
  }
}
.dropdow-btn {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $color-light;
  position: relative;
  cursor: pointer;
  .dropdown-btn__inner {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: absolute;
    background-color: $color-light;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    img {
      width: 13.5px;
      height: 22px;
      object-fit: cover;
    }
  }
  &.active {
    .dropdown-btn__inner {
      top: 100%;
      img {
        transform: rotate(180deg);
      }
    }
  }
}
</style>
