<script setup>
import TypingTextAnima from "@/components/common/TypingTextAnima.vue";
import BlinkingText from "@/components/common/BlinkingText.vue";
import MenuModal from "@/components/menuModal/MenuModal.vue";
import { RouterLink } from "vue-router";

const props = defineProps({
  noMenu: {
    type: Boolean,
    default: false,
  },
});

import { ref } from "vue";

const isMenuModelOpen = ref(false);
const openMenuModal = () => {
  isMenuModelOpen.value = !isMenuModelOpen.value;
};
</script>
<template>
  <div class="mb-[180px]">
    <div class="header">
      <div class="container-center flex justify-between items-start">
        <router-link class="header_left" to="/">
          <TypingTextAnima
            class="header_left_logo fs-xs active"
            is="h1"
            input-text="Anh Khoa"
          />
          <BlinkingText
            class="header_left_subtitle active"
            is="p"
            text="UIUX Design"
          ></BlinkingText>
        </router-link>
        <div v-if="!noMenu" class="header_middle">
          <div class="header_middle_list">
            <router-link
              :to="{
                path: '/',
                hash: '#about',
              }"
            >
              <TypingTextAnima
                class="header_middle_list_item lowercase active glitch"
                data-text="about"
                is="p"
                input-text="about"
              />
            </router-link>
            <router-link
              :to="{
                path: '/',
                hash: '#certificate',
              }"
            >
              <TypingTextAnima
                class="header_middle_list_item text lowercase active"
                is="p"
                input-text="certificate"
              />
            </router-link>
            <router-link
              :to="{
                path: '/',
                hash: '#experiences',
              }"
            >
              <TypingTextAnima
                class="header_middle_list_item lowercase text-nowrap active"
                is="p"
                input-text="experiences"
              />
            </router-link>
            <router-link
              :to="{
                path: '/',
                hash: '#project',
              }"
            >
              <TypingTextAnima
                class="header_middle_list_item lowercase active"
                is="p"
                input-text="project"
              />
            </router-link>
            <router-link
              :to="{
                path: '/',
                hash: '#contact',
              }"
            >
              <TypingTextAnima
                class="header_middle_list_item lowercase active"
                is="p"
                input-text="contact"
              />
            </router-link>
          </div>
        </div>
        <div class="header_right">
          <button class="header_right_button" @click="openMenuModal">
            <img src="@/assets/images/Group1000002957.png" alt="menu" />
          </button>
        </div>
      </div>
    </div>
    <MenuModal v-model:isModalActive="isMenuModelOpen" />
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/scss/base/_variables.scss";

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 20px;
  background-color: transparent;
  mix-blend-mode: difference;
  left: 0px;
  z-index: 1000;
}
.header_left_logo {
  font-weight: 700;
  line-height: 28px;
}
.header_middle_list_item {
  // color: black;
  // filter: invert(100%);
}
.header_left_subtitle {
  font-size: $fs-xs;
  font-weight: 400;
  // color: black;
  // filter: invert(100%);
  line-height: 22.4px;
}
.header_right_button {
  border: 1px solid #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
