<template>
  <div class="container-center mt-[50px]">
    <div class="intro">
      <div class="intro__item fs-2lg flex">
        <TypingTextAnima is="p" class="active" input-text="CREAT" />
        <img src="@/assets/images/e.png" alt="" />
      </div>

      <TypingTextAnima
        is="H3"
        input-text="ACHIEVE"
        class="intro__item fs-2lg active"
      />
      <TypingTextAnima
        input-text="Innovation"
        class="intro__item active fs-xl"
      />

      <div class="flex justify-center">
        <ImageHoverComponent class="intro__avatar">
          <img src="@/assets/images/avatar.png" alt="anh khoa" />
        </ImageHoverComponent>
      </div>
    </div>
  </div>
</template>
<script setup>
import TypingTextAnima from "@/components/common/TypingTextAnima.vue";
import ImageHoverComponent from "@/components/common/ImageHoverComponent.vue";
import { onMounted } from "vue";

onMounted(() => {});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/base/_variables.scss";

.intro {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  .intro__avatar {
    border-radius: 10px;
    width: 375px;
    height: 457.09px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    transform: translateY(-35px);
  }
  .intro__item {
    font-weight: 700;
    line-height: $fs-2lg;
    word-wrap: none;
    white-space: nowrap;
    &:nth-child(1) {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 116.59px;
        height: 68px;
        object-fit: contain;
        margin-left: 12px;
      }
    }
    &:nth-child(2) {
      text-align: left;
    }
    &:nth-child(3) {
      font-weight: 400;
      text-align: center;
      font-family: "Bellefair", serif;
      white-space: nowrap;
    }
  }
}
</style>
