<template>
  <div class="">
    <div class="container-center mt-[320px] footer" id="contact">
      <div class="mb-[100px] flex justify-between">
        <div v-if="prop.noTitle"></div>
        <TypingTextAnima
          v-if="!prop.noTitle"
          is="p"
          class="category-title mb-10"
          input-text="(5) Contact"
        />
        <div class="flex flex-col items-end">
          <p class="fs-sm text-right font-medium">to the</p>
          <p class="fs-sm font-medium pr-2 text-right mb-2">return past</p>
          <img
            src="@/assets/images/backToTop.png"
            alt=""
            class="cursor-pointer"
            @click="backTop"
          />
        </div>
      </div>
      <div class="footer_top mb-[250px] w-full">
        <ul class="footer__top__menu">
          <li class="footer__top__menu__item">
            <router-link to="/" class="fs-md">HOME</router-link>
          </li>
          <li class="footer__top__menu__item">
            <router-link
              :to="{
                path: '/',
                hash: '#about',
              }"
              class="fs-md"
              >ABOUT</router-link
            >
          </li>
          <li class="footer__top__menu__item">
            <router-link
              :to="{
                path: '/',
                hash: '#certificate',
              }"
              class="fs-md"
              >CERTIFICATE</router-link
            >
          </li>
          <li class="footer__top__menu__item">
            <router-link
              :to="{
                path: '/',
                hash: '#experiences',
              }"
              class="fs-md"
              >EXPERIENCES</router-link
            >
          </li>
          <li class="footer__top__menu__item">
            <router-link
              :to="{
                path: '/',
                hash: '#project',
              }"
              class="fs-md"
              >PROJECT</router-link
            >
          </li>
          <li class="footer__top__menu__item">
            <router-link
              :to="{
                path: '/',
                hash: '#contact',
              }"
              class="fs-md"
              >CONTACT</router-link
            >
          </li>
        </ul>
        <div class="footer__top__contact flex-1">
          <div class="flex justify-between w-full">
            <div class="footer__top__contact__address">
              <p class="fs-sm">Tan Binh</p>
              <p class="fs-sm">HCM City</p>
              <p class="fs-sm">0946.199.972</p>
            </div>
            <div class="footer__top__contact__social">
              <a
                href="https://www.facebook.com/vananhkhoane/"
                target="__target"
                class="fs-sm"
                >Facebook</a
              >
              <a
                href="https://www.linkedin.com/in/v%C4%83n-anh-khoa-325971227/"
                target="__target"
                class="fs-sm"
                >LinkedLn</a
              >
              <a
                href="https://dribbble.com/vananhkhoa"
                target="__target"
                class="fs-sm"
                >Dribbble</a
              >
            </div>
          </div>
          <h3 class="footer__top__contact__email fs-md">
            khoa.designer.work@gmail.com
          </h3>
        </div>
      </div>

      <div class="footer__middle mb-[120px] flex justify-between">
        <div>
          <h1 class="footer__middle__name fs-sm font-bold">Anh Khoa</h1>
          <h3 class="footer__middle__jobTitle fs-xs">UIUX Design</h3>
        </div>
        <p class="footer__middle__profile fs-md font-medium">portfolio-2024</p>
      </div>
    </div>
    <img
      src="@/assets/images/portfolio-2024.png"
      class="w-full object-cover"
      alt="portfolio 2024"
    />
  </div>
</template>
<script setup>
import TypingTextAnima from "@/components/common/TypingTextAnima.vue";

const prop = defineProps({
  noTitle: {
    type: Boolean,
    default: false,
  },
});

const backTop = () => {
  window.scrollTo({
    top: 0,
    behavior: "smooth",
  });
};
</script>
<style lang="scss" scoped>
.footer {
  overflow: hidden;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  @apply flex-col gap-20 md:flex-row gap-48;
  .footer__top__menu {
    display: flex;
    flex-direction: column;
    .footer__top__menu__item {
      a {
        text-decoration: none;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: white;
        }
      }
    }
  }
  .footer__top__contact__social {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
  .footer__top__contact__email {
    font-weight: 500;
    margin-top: 20px;
  }
}
</style>
