<template>
  <div>
    <HeaderSection />
    <Introduction />
    <HomeBodyLayout />
  </div>
</template>
<script setup>
import HeaderSection from "@/components/header/HeaderSection.vue";
import Introduction from "@/components/intro/Introduction.vue";
import HomeBodyLayout from "@/components/homeBody/HomeBodyLayout.vue";
</script>
<style lang="scss"></style>
