<template>
  <div class="w-full over-hidden">
    <HeaderSection noMenu />
    <div class="container-center private-project">
      <div class="private-project__header">
        <p class="font-bold fs-xl private">PRIVATE</p>
        <p class="fs-xl text-right font-light project">PROJECT</p>
        <div class="text-right">
          <p class="private-project__header__p">Projects signed under</p>
          <p class="private-project__header__p">DNA</p>
        </div>
        <div class="text-right pr-3">
          <p class="private-project__header__p">confidentiality</p>
          <p class="private-project__header__p">can't be</p>
          <p class="private-project__header__p">displayed</p>
          <p class="private-project__header__p">publicly</p>
        </div>
        <div class="text-right pr-16">
          <p class="private-project__header__p">
            They will be presented to you directly.
          </p>
          <p class="private-project__header__p">to you directly.</p>
        </div>
      </div>
      <div class="private-project__projet">
        <div class="private-project__item">
          <div class="grid grid-cols-2 gap-5">
            <div class="private-project__item_img w-full">
              <ImageHoverComponent class="w-full">
                <img
                  class="w-full"
                  src="@/assets/images/macbook.png"
                  alt="private-project-1"
                />
              </ImageHoverComponent>
            </div>
            <div class="private-project__item__content content-pambu">
              <h3 class="private-project__item__content__name fs-1lg">PAMB</h3>
              <img src="@/assets/images/U.png" alt="pambu" />
            </div>
          </div>
          <div class="private-project__item__bottom pambu">
            <p class="text-nowrap">Pambu - Management and MonitoringSoftware</p>
            <p class="text-nowrap">Machine Energy and Performance</p>
          </div>
        </div>
        <div class="private-project__item">
          <div class="grid grid-cols-2 gap-5">
            <div class="private-project__item__content forbes-content">
              <img src="@/assets/images/F.png" alt="" />
              <p class="fs-1lg private-project__item__content__name">ORBES</p>
            </div>
            <div class="private-project__item__img">
              <ImageHoverComponent>
                <img src="@/assets/images/forbes.png" alt="" />
              </ImageHoverComponent>
            </div>
          </div>
          <div class="private-project__item__bottom forbes">
            <p class="text-nowrap">Embark on an empowering journey</p>
            <p class="text-nowrap">with Forbes Membership</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <FooterSection no-title />
</template>
<script setup>
import HeaderSection from "@/components/header/HeaderSection.vue";
import FooterSection from "@/components/footer/FooterSection.vue";
import ImageHoverComponent from "@/components/common/ImageHoverComponent.vue";
</script>
<style lang="scss" scoped>
.private-project {
  padding: 100px 0 0 0;
  &__header {
    max-width: 800px;
    margin-bottom: 200px;
    .private-project__header__p {
      line-height: 28px;
      font-family: "Switzer Regular";
    }
  }
  .private {
    line-height: 120px;
    font-family: "Switzer Bold";
  }

  .project {
    font-family: "Switzer Medium";

    line-height: 120px;
  }
  .private-project__projet {
    display: flex;
    flex-direction: column;
    gap: 200px;
  }
  .private-project__item__content {
    display: flex;
    align-items: end;
    gap: 5px;
    &__name {
      font-family: "Switzer Bold";
      line-height: 112px;
      transform: translateY(40px);
    }
    &.content-pambu {
      justify-content: flex-startt;
    }
    &.forbes-content {
      justify-content: flex-end;
    }
    img {
      transform: translateY(117px);
    }
  }
  .private-project__item__bottom.pambu {
    width: 50%;
    text-align: right;
    margin: 50px 0 0 100px;
  }
  .private-project__item__bottom.forbes {
    width: 50%;
    text-align: left;
    margin: 50px 40% 0;
  }
}
</style>
