<template>
  <component :is="is" ref="container" class="animation text">
    <span v-for="(word, index) in words" :key="index">
      <span
        v-html="word"
        class="blink"
        :style="{ animationDelay: Math.random() * 0.3 + 's' }"
      ></span>
      <span v-if="index !== words.length - 1">{{ " " }} </span>
    </span>
  </component>
</template>

<script setup>
import { ref, onMounted } from "vue";
const props = defineProps({
  text: String,
  is: {
    type: String,
    default: "p",
  },
});

const words = ref([]);

const splitText = () => {
  words.value = props.text.split(" ");
};

onMounted(() => {
  splitText();
});
</script>

<style scoped lang="scss">
.text {
  color: inherit;
}
.active {
  .blink {
    animation: blink-animation 0.8s forwards;
  }

  @keyframes blink-animation {
    0% {
      opacity: 0.2;
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 0.3;
    }
    15% {
      opacity: 0;
    }
    20% {
      opacity: 0.4;
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 0.5;
    }
    35% {
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    45% {
      opacity: 0;
    }
    50% {
      opacity: 0.7;
    }
    55% {
      opacity: 0;
    }
    60% {
      opacity: 0.8;
    }
    70% {
      opacity: 0;
    }

    80% {
      opacity: 0.9;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
</style>
