<template>
  <div
    ref="imageHoverElement"
    class="image-hover"
    data-section-text-animation
    data-image
    :data-grid="dataGrid"
    :data-mouse="dataMouse"
    :data-strength="dataStrength"
  >
    <slot />
  </div>
</template>
<script setup>
import { onMounted, onUnmounted, ref } from "vue";
import ImageHover from "@/imageHover.ts";

const imageHoverElement = ref(null);

const props = defineProps({
  dataGrid: {
    type: String,
    default: "30",
  },
  dataMouse: {
    type: String,
    default: "0.3",
  },
  dataStrength: {
    type: String,
    default: "0.1",
  },
});

const isElementInViewport = (el) => {
  const rect = el.getBoundingClientRect();

  return (
    rect.bottom >= 0 &&
    rect.left >= 0 &&
    rect.top <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
};
const imageHover = ref(null);

const handleScroll = () => {
  if (!imageHoverElement.value) return;

  if (isElementInViewport(imageHoverElement.value)) {
    if (imageHover.value) return;
    imageHover.value = new ImageHover({ dom: imageHoverElement.value });
  } else {
    // imageHover.value?.dispose();
    // imageHover.value = null;
  }
};

onMounted(() => {
  setTimeout(() => {
    handleScroll();
  }, 0);
  window.addEventListener("scroll", handleScroll);
});
onUnmounted(() => {
  imageHover.value?.dispose();
  imageHover.value = null;
  window.removeEventListener("scroll", handleScroll);
});
</script>
<style lang="scss" scoped>
.image-hover {
  position: relative;
  &:hover {
    &::before {
      opacity: 0;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    mix-blend-mode: overlay;
    opacity: 1;
  }
}
</style>
