<template>
  <div class="animation">
    <div class="relative">
      <div class="fake-text">{{ inputText }}</div>
      <component :is="is" class="absolute top-0 left-0 right-0 bottom-0">
        <span
          v-for="(char, index) in inputText"
          :key="index"
          class="typeing"
          :style="{ animationDelay: `${index * 0.14}s` }"
        >
          {{ char === " " ? "\u00A0" : char }}
        </span>
      </component>
    </div>
  </div>
</template>

<script>
import { ref, watch, onMounted } from "vue";

export default {
  props: {
    inputText: String,

    innerClass: {
      type: String,
      default: "",
    },
    is: {
      type: String,
      default: "p",
    },
  },
  setup(props) {
    const text = ref("");
    const charList = ref([]);

    // Watch for changes in inputText prop
    watch(
      () => props.inputText,
      (newVal) => {
        animateText(newVal);
      }
    );

    // Generate a random character
    const randomChar = () => {
      const characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
      return characters.charAt(Math.floor(Math.random() * characters.length));
    };

    onMounted(() => {
      animateText(props.inputText);
    });
    // Animate the text

    const animateText = (inputText) => {
      let currentIndex = 0;
      const interval = setInterval(() => {
        if (currentIndex <= inputText?.length) {
          text.value = inputText.slice(0, currentIndex);
          // .split("")
          //.map(() => randomChar()) // Generate a random character
          // .join("");
          currentIndex++;
        } else {
          clearInterval(interval);
          text.value = inputText;
        }
      }, 30); // Adjust typing speed here
    };

    return {
      text,
      animateText,
    };
  },
};
</script>

<style scoped lang="scss">
.fake-text {
  visibility: hidden;
}
.typeing {
  opacity: 0;
}
.active {
  .typeing {
    display: inline-block;
    text-rendering: geometricPrecision;
    animation: typing 0.15s forwards ease;
  }
  @keyframes typing {
    0% {
      opacity: 0;
      // transform: scale(0.8);
    }
    35% {
      opacity: 0.7;

      // transform: scale(1.1);
    }
    70% {
      opacity: 0;
      // transform: scale(0.8);
    }

    100% {
      opacity: 1;
      // transform: scale(1);
    }
  }
}
</style>
