<script setup>
import { onMounted, nextTick } from "vue";

const handleScroll = () => {
  const elements = document.querySelectorAll(".animation");
  elements.forEach((el) => {
    if (el.classList.contains("active")) return;
    if (isElementInViewport(el)) {
      el.classList.add("active");
    } else {
      // el.classList.remove("active");
    }
  });
};

const isElementInViewport = (el) => {
  const rect = el.getBoundingClientRect();
  const currentScrollTop = window.scrollY;

  return (
    rect.bottom >= 0 &&
    rect.left >= 0 &&
    rect.top <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
};
const waitForNextTick = () => {
  return new Promise((resolve) => {
    nextTick(() => {
      resolve();
    });
  });
};
const waitToAddClass = async () => {
  await waitForNextTick();
  handleScroll();
};

onMounted(() => {
  waitToAddClass();
  // Add event listener for scroll event
  window.addEventListener("scroll", handleScroll);
});
</script>

<template>
  <div class="w-full">
    <router-view></router-view>
  </div>
</template>

<style>
.bounceIn {
  opacity: 0;
}
.bounceIn.active {
  animation: bounceIn 1s forwards;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.fadeIn {
  opacity: 0;
}
.fadeIn.active {
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInUp {
  opacity: 0;
}
.fadeInUp.active {
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-0-25s {
  animation-delay: 0.25s;
}
.delay-0-5s {
  animation-delay: 0.5s;
}

.delay-0-75s {
  animation-delay: 0.75s !important;
}
.delay-1-25s {
  animation-delay: 1.25s;
}
.delay-1-5s {
  animation-delay: 1.5s !important;
}
.delay-1-75s {
  animation-delay: 1.75s;
}
.delay-2-5s {
  animation-delay: 2.5s;
}
.delay-2-75s {
  animation-delay: 2.75s;
}
.delay-3-5s {
  animation-delay: 3.5s;
}
.delay-4-5s {
  animation-delay: 4.5s;
}
</style>
