<template>
  <div
    :class="{
      active: modalValue,
    }"
    class="menu-modal h-screen"
  >
    <div class="container-center py-[40px]">
      <button class="flex justify-end w-full btn-close" @click="onClickClose">
        <img src="@/assets/images/closeIcon.png" />
      </button>
      <div class="menu-list">
        <router-link
          :to="{
            path: '/',
            hash: '#about',
          }"
          class="menu-list_item"
        >
          <TypingTextAnima
            @click="onClickItem"
            :class="{
              active: modalValue,
            }"
            class="fs-1lg uppercase font-medium"
            is="p"
            input-text="about"
          />
        </router-link>
        <router-link
          :to="{
            path: '/',
            hash: '#certificate',
          }"
          class="menu-list_item"
          @click="onClickItem"
        >
          <TypingTextAnima
            :class="{
              active: modalValue,
            }"
            class="fs-1lg uppercase font-medium"
            is="p"
            input-text="certificate"
          />
        </router-link>
        <router-link
          :to="{
            path: '/',
            hash: '#experiences',
          }"
          class="menu-list_item"
          @click="onClickItem"
        >
          <TypingTextAnima
            :class="{
              active: modalValue,
            }"
            class="fs-1lg uppercase font-medium"
            is="p"
            input-text="experiences"
          />
        </router-link>
        <router-link
          :to="{
            path: '/',
            hash: '#project',
          }"
          class="menu-list_item"
          @click="onClickItem"
        >
          <TypingTextAnima
            :class="{
              active: modalValue,
            }"
            class="fs-1lg uppercase font-medium"
            is="p"
            input-text="project"
          />
        </router-link>
        <router-link
          :to="{
            path: '/',
            hash: '#contact',
          }"
          class="menu-list_item"
          @click="onClickItem"
        >
          <TypingTextAnima
            :class="{
              active: modalValue,
            }"
            class="fs-1lg uppercase font-medium"
            is="p"
            input-text="contact"
          />
        </router-link>
      </div>
      <div class="menu-social">
        <a
          href="https://www.facebook.com/vananhkhoane/"
          target="__target"
          class="fs-sm"
          >Facebook</a
        >
        <a
          href="https://www.linkedin.com/in/v%C4%83n-anh-khoa-325971227/"
          target="__target"
          class="fs-sm"
          >LinkedLn</a
        >
        <a
          href="https://dribbble.com/vananhkhoa"
          target="__target"
          class="fs-sm"
          >Dribbble</a
        >
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed } from "vue";
import TypingTextAnima from "@/components/common/TypingTextAnima.vue";

const props = defineProps({
  isModalActive: Boolean,
});
const emit = defineEmits(["update:isModalActive"]);

const modalValue = computed({
  get: () => props.isModalActive,
  set: (value) => emit("update:isModalActive", value),
});
const onClickClose = () => {
  modalValue.value = false;
};
const onClickItem = () => {
  modalValue.value = false;
};
</script>
<style lang="scss" scoped>
.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: black;
  z-index: 1000;
  transform-style: preserve-3d;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s;
  transform: translateY(-100%);
  opacity: 0;
  .menu-social {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
    a {
      text-decoration: none;
      color: white;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #f5a623;
      }
    }
  }
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
  .btn-close {
    img {
      width: 80px;
      height: 80px;
    }
  }
  .menu-list_item {
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
</style>
